body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
/*<!---header--->*/
header {
  background-color: #091644;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
}
.header-logo {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: -10px;
}
.header-link {
  display: flex;
  justify-content: ro;
  gap: 20px;
}
/*<!---footer--->*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 2px;
    font-size: 12px;
}


/*<!---section 1--->*/
/*<!---section 2--->*/
/*<!---section 3--->*/
/*<!---section 4--->*/


